#{extends 'main.html' /}
<script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.11.0.js"></script>
<script>
	$(function () {
        $('.roles-menu-a').addClass('active');
    });
    angular.module('roles', ['ui.bootstrap']);
    function controller($scope,$http,$modal, $log) {
        $scope.deleteRol = function(rol){
          $http.post('@{Roles.deleteRol}',rol).success(function(data){
                  if(data.success){
                    var index = $scope.roles.indexOf(rol);
                    $scope.roles.splice(index,1)   
                    alert("Rol was successfully deleted");
                  }
              });
        };
        $scope.open = function (size) {
            var modalInstance = $modal.open({
              templateUrl: 'myModalContent.html',
              controller: ModalInstanceCtrl,
              size: size,
              resolve:{
                rol: function(){
                  return [];
                }
              }
            });
            modalInstance.result.then(function (rol) {
                $scope.addNewRole(rol);
            }, function () {
              
            });
        };

        $scope.editRole = function (rol,size) {
            var modalInstance = $modal.open({
              templateUrl: 'myModalContent.html',
              controller: ModalInstanceCtrl,
              size: size,
              resolve:{
                rol: function(){
                  return rol;
                }
              }
            });
            modalInstance.result.then(function (rol) {
              $http.post('@{Roles.updateRol}',rol).success(function(data){
                  console.log(data);
              });
            }, function () {
              
            });
        };

        angular.element(document).ready(function () {
            $scope.getRoles();
        });

        $scope.getRoles = function() {
            $http({method: 'GET', url: '@{Roles.getRoles}', headers:"Accept:application/json"}).
                success(function(data, status, headers, config) {
                  // this callback will be called asynchronously
                  // when the response is available
                  $scope.data= angular.fromJson(data);
                  $scope.roles = $scope.data.data.roles;

                }).
                error(function(data, status, headers, config) {
                  // called asynchronously if an error occurs
                  // or server returns response with an error status.
                });
        };

        $scope.addNewRole = function(rol){
          $http({method: 'GET', url: '@{Roles.addNewRoleAction}/'+rol.name}).
              success(function(data, status, headers, config) {
                // this callback will be called asynchronously
                // when the response is available
                var newRole = angular.fromJson(data);
                $scope.roles.push(newRole);
              }).
              error(function(data, status, headers, config) {
                // called asynchronously if an error occurs
                // or server returns response with an error status.
              });
        };
    };
    var ModalInstanceCtrl = function ($scope, $modalInstance,rol) {
      $scope.rol  = rol;
      $scope.ok = function () {
        $modalInstance.close($scope.rol);
      };
      $scope.cancel = function () {
        $modalInstance.dismiss('cancel');
      };
    };

</script>
<div ng-app="roles">
    <div ng-controller="controller">
        
       <div class="panel panel-default">
        <div class="row">
          <div class="panel-body">
            <div class="col-md-3">

              <span><button class="btn btn-default btn-xs pull-right" ng-click="open()">Add New Role</button>
              <h1>Roles</h1></span>
              
              <table class="table table-striped">
                <tr>
                    <th>Role Names</th>
                </tr>
                <tr ng-repeat="rol in roles">
                    
                    <td>
                        {{rol.name}}
                    </td>
                    <!--<td>
                        <button type="button" class="btn btn-default btn-xs" ng-click="editRole(rol)">Update</button>
                        <button type="button" class="btn btn-default btn-xs" ng-click="deleteRol(rol)">Delete</button>
                    </td> -->
                </tr>
              </table>
            </div>
            <div class="col-md-9">.col-md-6</div>
            </div>
          </div>
        </div>

        <script type="text/ng-template" id="myModalContent.html">
            <div class="modal-header">
                <h3 class="modal-title">Add a Role</h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <form role="form">
                            <div class="form-group">
                                <label for="addRolInput">Add Rol</label>
                                <input ng-model="rol.name" type="text" class="form-control" id="addRolInput" placeholder="Enter a new Rol name">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" ng-click="ok()">OK</button>
                <button class="btn btn-default" ng-click="cancel()">Cancel</button>
            </div>
        </script>
    </div>
</div>